/*
    Paleta de Cores:
    Azul: #4F627D
    Cinza: #dddddd
*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4f627d;
    --bg-color: #deeaf5;
    --text-color: #000000;
    --text-color-2: #ffffff;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

main {
    background-color: var(--text-color-2);
    padding-bottom: 5px;
}

.hero {
    background-color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#pre-title {
    font-weight: 600;
    padding-bottom: 30px;
}

#pos-title {
    padding: 30px 10px;
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.425);
}

.methodology {
    flex-direction: column;
    text-align: center;
    padding: 30px 15px;
    gap: 15px;
}

.methodology h2{
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cards-container div{
    background-color: var(--text-color-2);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;
    flex: 1;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 2em;
    background-color: var(--bg-color);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.feedback {
    background-color: var(--bg-color);
    align-items: center;
    padding: 20px;
    gap: 15px;
    margin: 10px;
    border-radius: 10px;
}

.feedback-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.feedback-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.432);
}

blockquote {
    padding: 20px 0px;
    font-size: 1.2em;
}

.author-name, .author-role {
    font-weight: 600;
}

.lead-form {
    background-color: var(--text-color-2);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    display: flex;
    margin: auto;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.lead-form h2 {
    text-align: center;
    padding-bottom: 10px;
}

.lead-form input, 
.lead-form textarea{
    padding: 12px 10px;
    font-size: 1em;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lead-form input:focus,
.lead-form textarea:focus {
    border: 1px solid var(--text-color);
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
}

footer {
    font-size: 1.1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer div {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    text-align: center;
    font-weight: 100;
    font-size: 0.9em;
}

.contact {
    font-size: 0.9em;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    gap: 5px;
    margin-top: 10px;
}

address p span:first-child {
    flex-shrink: 0;
    font-size: 1.5em;
    line-height: 1;
    margin: 0px;
}

address p span:last-child {
    flex: 1;
    min-width: 0;
}

footer p {
    font-weight: 600;
    margin: 5px;
}

.links {
    flex-direction: row;
    justify-content: center;
}

.footer-box {
    padding-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    color: black;
    font-size: 1.5em;
    padding: 10px;
}